@tailwind base;
@tailwind components;
@tailwind utilities;

.search-input:not(:focus-within) .autocomplete {
  display: none;
}

.with-autocomplete:focus-within .input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
